* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.app {
  background-color: rgb(34, 38, 52);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: monospace;
}
