* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

html {
  background-color: black;
}

.app {
  background-color: rgb(34, 38, 52);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: monospace;
}

/* .speedometer,
.speedometerBlur {
  stroke-dashoffset: 200px;
  stroke-dasharray: 100px;
} */
